/*
TRAINEE Bootstrap Sass Theme
Author: Terrell Summers
Version 0.0.1
*/
/* BASE- Base styles, variables, mixins, etc*/
body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #666666;
  line-height: 26px;
  font-weight: lighter;
  font-size: 16px; }

a {
  color: #e25858;
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: none;
  color: #c84e4e; }

p {
  font-size: 16px;
  line-height: 24px; }

h2 {
  font-weight: 100;
  color: #2e7dbb;
  letter-spacing: 1px; }

.main-content {
  margin-top: 30px; }

.highlight {
  background-color: yellow; }

/* MODULES- Individual Site Components*/
.btn {
  border-radius: 15px;
  padding: 7px 15px; }

.btn-default, .btn-default:focus {
  background-color: #e25858;
  color: #ffffff;
  border-color: #c84e4e; }

.btn-default:hover {
  background-color: #c84e4e;
  color: #ffffff;
  border-color: #c84e4e; }

.btn-default:active {
  background-color: #e25858;
  color: #ffffff;
  border-color: #c84e4e; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow: hidden;
  background: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: 1px solid #d7d7d7; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

.modal-dialog {
  margin: 100px auto; }

.filter {
  color: #636363;
  font-size: 14px;
  float: right; }

.date {
  text-transform: uppercase;
  font-size: 12px;
  color: #636363; }

.all {
  color: #636363;
  float: left; }

.all-notes {
  overflow: auto;
  height: 768px; }

.all-notes a:active {
  background-color: #f4f6f6;
  display: block; }

.sidebar-brand h2 {
  color: #fff;
  font-weight: lighter;
  float: left;
  margin: 0; }

.sidebar-brand a {
  float: right;
  font-size: 14px;
  display: inline-block;
  position: relative;
  top: 2px; }

.sort {
  top: 30px !important;
  left: -92px; }

.sidebar-brand {
  background-color: #373b42;
  color: #ffffff;
  text-align: center;
  padding: 15px; }

.sidebar-brand a {
  float: right;
  font-size: 14px;
  display: inline-block;
  position: relative;
  top: 2px; }

#view {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
  padding: 15px;
  width: 100%;
  display: inline-block; }

#note-wrap {
  padding: 20px; }

small {
  color: #e25858; }

.note {
  border-bottom: 1px solid #d7d7d7;
  padding: 20px; }

.note p {
  color: #666666; }

.note h4 {
  margin-top: 0;
  color: #2e7dbb;
  font-weight: lighter;
  font-size: 22px; }

.fa-plus-circle {
  margin-left: 8px;
  color: #d7d7d7; }

.sidebar-nav {
  position: relative;
  top: 63px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
  border-right: 1px solid #d7d7d7; }

.sidebar-brand a:link, .sidebar-brand a:visited {
  color: #d7d7d7;
  text-decoration: none; }

.sidebar-brand a:hover {
  color: #ffffff; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px; }

label {
  display: inline-block;
  text-align: left;
  width: 140px;
  font-weight: lighter; }

.control-label {
  padding-right: 0; }

.study-qa {
  margin-bottom: 20px; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }

  #wrapper.toggled {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #wrapper.toggled #sidebar-wrapper {
    width: 0; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
/* LAYOUTS- Page Layout Styles*/
.navbar {
  border: none;
  border-radius: none;
  margin-bottom: 0;
  border-bottom: 1px solid #7bbdf0; }

.navbar-nav {
  margin: 0; }

.fa {
  color: #ffffff;
  display: inline-block; }

.fa-bars {
  float: left;
  font-size: 20px !important; }

.fa-question-circle {
  margin-left: 8px;
  font-size: 16px !important; }

.navy h4 {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 0 15px;
  display: inline-block; }

.navy a {
  text-decoration: none;
  color: #ffffff; }

.navy a:hover {
  display: inline-block;
  text-decoration: none;
  color: #ffffff; }

.nav-wrapper {
  margin: 0 auto;
  display: inline-block; }

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: transparent; }

.dropdown-menu {
  top: 204%; }

.navy-menu {
  display: inline-block;
  padding-right: 10px; }

.nav > li > a {
  display: block; }

.navbar-nav > li > a {
  padding: 0 20px; }

.caret {
  margin-left: 5px; }

.utility {
  background-color: #faf8f8;
  padding: 15px 15px 15px 6px;
  border-bottom: 1px solid #d7d7d7; }

.utility-menu a {
  color: #373b42;
  font-weight: bolder; }

.utility-menu a i, .utility-menu i {
  color: #373b42; }

.fa-expand {
  padding-left: 5px; }

.fa-external-link {
  padding-left: 5px; }

.icon-wrapper {
  position: relative;
  display: inline-block; }
  .icon-wrapper i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%); }

.utility-menu #search {
  width: 250px; }
.utility-menu #search-count {
  font-style: italic;
  margin-right: 10px; }

.hero {
  background: url("../img/banner-4.jpg");
  background-position: center center;
  background-color: #044175;
  height: 330px;
  width: 100%; }

.hero-header {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  color: #ffffff;
  margin-top: 154px;
  letter-spacing: 3px; }

.navy-header {
  padding: 20px 20px 15px 20px;
  background-color: #2e7dbb; }

.footer {
  background-color: #373b42;
  color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  margin-top: 50px; }

.footer p {
  font-size: 14px; }

.right {
  float: right; }
