body {
	font-family:$base-font-family;
	color:$grey-color;
	line-height: 26px;
    font-weight: lighter;
    font-size:16px;
}

ul {
	text-decoration:none;
	list-style-type:none;
}

a {
    color: $accent-color;
    text-decoration: none;

    }

a:hover, a:focus {
	text-decoration:none;
	color:#c84e4e;
}

p {
	font-size:16px;
	line-height:24px;
}

h2 {
	font-weight:100;
	color:$blue-color;
	letter-spacing: 1px;
	line-height: 40px;
}

.main-content {
	margin-top:30px;
}

#portal span.highlight{
	background-color: yellow;
	display:inline-block;

}

.fullImage{
	width: 100%;
	height: auto;
	display:block;
	margin-bottom: 30px;
}

.rank-study{
	text-align:center;

	img{
		display:inline-block;
		max-width: 180px;
	}
}

.list-wrapper{
	h2{
		margin-top: 30px;
	}
	ol{
		list-style-type: decimal;

		ol{
			list-style-type: lower-alpha;
			
			ol{
				list-style-type: decimal;
				ol{
					list-style-type: lower-alpha;
				}

				
			}
		}

	}

}

.study-list-wrapper{

	ol{
		list-style-type: decimal;
	}

}