//Utility

.utility {
  background-color: #faf8f8;
  padding:15px 15px 15px 6px;
  border-bottom:1px solid $light-grey;
}

.utility-menu a {
  color:$dark-grey;
  font-weight:bolder;

}

.utility-menu a i, .utility-menu i {
  color:$dark-grey;
}

.fa-expand {
  padding-left:5px;
}

.fa-external-link {
padding-left:5px;
  
}

.icon-wrapper{
  position: relative;
  display: inline-block;

  i{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.utility-menu{
  #search{
    width: 250px;
  }

  #search-count{
    font-style: italic;
    margin-right: 10px;
  }
}

//Hero

.hero {
    background-position: center center;
    background-color:#044175;
    height: 270px;
    width: 100%;
    margin-top:61px;
    position:relative;
}

.hero-header {
	text-align: center;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
  margin-top: 154px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  display: block;
  margin: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 0 50px;
}

//Header 

.navy-header {
  padding: 0px 20px 0px 20px;
    background-color: #2e7dbb;
}