//Nav

.navbar {
	border:none;
	border-radius:none;
	margin-bottom:0;
	border-bottom:1px solid #7bbdf0;
}

.navbar-nav {
	margin:0;
}

.fa {
	color:$white-color;
	display:inline-block;
}

.fa-bars {
	float:left;
	font-size:20px !important;
}

.fa-question-circle {
	margin-left:8px;
	font-size:16px !important;
}

.navy h4 {
	text-transform:uppercase;
	color:$white-color;
	margin: 0 0 0 15px;
	display: inline-block;
}

.navy a {
	text-decoration:none;
	color:$white-color;
	
}

.navy a:hover {
	display:inline-block;
	text-decoration:none;
	color:$white-color;
}

//Dropdown

.nav-wrapper {
	margin:0 auto;
	display:inline-block;
}


.navbar-inverse .navbar-nav > li > a {
	color:$white-color;
	
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color:$white-color;
	background-color:transparent;
}

.dropdown-menu {
	top:63px;
}

.navy-menu {
	display:inline-block;
	padding-right:10px;
	
}

.nav > li > a {
display:block;
	
}

.navbar-nav > li > a {
	padding:0 20px;
}

.caret {
	margin-left:5px;
}

.navpadding{
	padding-top: 20px !important;
	padding-bottom: 15px !important;
}