//Nav

.navbar {
	border:none;
	border-radius:none;
	margin-bottom:0;
	border-bottom:1px solid #7bbdf0;
}

.navbar-nav {
	margin:0;
}

.fa {
	color:$white-color;
	display:inline-block;
}

.fa-bars {
	float:left;
	font-size:20px !important;
}

.navy-header{
	.fa {
		margin-right:8px;
		font-size:16px !important;
	}

}

.navy h4 {
	//text-transform:uppercase;
	color:$white-color;
	margin: 0 0 0 6px;
	display: inline-block;
	//text-transform:uppercase;
	font-size:16px;
}

.navy a {
	text-decoration:none;
	color:$white-color;
	
}

.navy a:hover {
	display:inline-block;
	text-decoration:none;
	color:$white-color;
}

//Dropdown

.nav-wrapper {
	margin:0 auto;
	display:inline-block;
}


.navbar-inverse .navbar-nav > li > a {
	color:$white-color;
	
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color:$white-color;
	background-color:transparent;
}

.dropdown-menu {
	top:63px;
}

.navy-menu {
	display:inline-block;
	padding-right:10px;
	
}

.nav > li > a {
display:block;
	
}

.navbar-nav > li > a {
	padding:0 20px;
}

.caret {
	margin-left:5px;
}

.navpadding{
	padding-top: 20px !important;
	padding-bottom: 15px !important;
}

.shroud{
	display:none;
	background: rgba(0,0,0,.5);
	position:fixed;
	z-index: 8;
	top:0;
	right:0; 
	bottom:0;
	left:0;
}


.sectionNav-area{


	.sectionNav-button{
		height: 34px;
		padding: 6px 12px;
		display:block;
		border: 1px solid #ccc;
		line-height: 20px;
		background:white;
		border-radius: 4px;

		&::before{
			content: "\f078";
			display: inline-block;
			position: absolute;
			bottom:2px;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			right: 28px;
			top:10px
		}
	}

	#sectionNav{
		display:none;
		position: absolute;
		width: 100%;
		padding:0;
		margin-top: 20px;
		z-index: 100;

		background:white;
		border: 1px solid #ccc;
		border-radius: 4px;

		li{

			a{
				padding: 6px 15px;
				display:block;
			}
		}

		&:after, &:before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 15px;
			margin-left: -15px;
		}
		&:before {
			border-color: rgba(204, 204, 204, 0);
			border-bottom-color: #ccc;
			border-width: 16px;
			margin-left: -16px;
		}
	}
}

.topicNav-area{


	.topicNav-button{
		height:61px;
		padding: 15px 12px;
		display:inline-block;
		line-height: 32px;
		position:relative;

		color:white;

		&::before{
			content: "\f078";
			display: inline-block;
			position: absolute;
			bottom:2px;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	.topicNav-wrapper{
		display:none;
		position: absolute;
		width: 400px;
		left:50%;
		transform: translateX(-50%);
		margin-top: 20px;
		z-index:9999999;

		background:white;
		border: 1px solid #ccc;
		border-radius: 4px;

		&:after, &:before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 15px;
			margin-left: -15px;
		}
		&:before {
			border-color: rgba(204, 204, 204, 0);
			border-bottom-color: #ccc;
			border-width: 16px;
			margin-left: -16px;
		}

		.topicNav-search-wrapper{
			padding: 15px;

			border-bottom: 1px solid #ccc;
			margin-bottom: 15px;

			.fa{
				color:#373b42;
			}

			.icon-wrapper{
				display:block;
			}
			#topicNav-search{
				display: block;
				width: 100%
			}
		}

		#topicNav{		
			
			padding:0;
			max-height:550px;
			overflow:scroll;
			z-index: 100;



			li{

				a{
					padding: 6px 15px;
					display:block;
					color: #2e7dbb;
				}

				&.even a{
					background:#f3f3f3
				}
			}

			
		}
	}

	
}