//Buttons

.btn {
	border-radius:15px;
	padding:7px 15px;
}

.btn-default, .btn-default:focus {
	background-color:$accent-color;
	color:$white-color;
	border-color:#c84e4e;
}

.btn-default:hover {
	background-color:#c84e4e;
	color:$white-color;
	border-color:#c84e4e;
}

.btn-default:active  {
	background-color:$accent-color;
	color:$white-color;
	border-color:#c84e4e;
	
}

.map-btn {
	border-radius:0;
	background-color:$white-color;
	color:$blue-color;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color:#e5e5e6;
}

.zoom-in, .zoom-out, .reset {
	background-color:$white-color;
	text-shadow:none !important;
	border:1px solid $light-grey;
}

.slider {
	position:relative;
	top:9px;
}