//Forms

label {
    display:inline-block;
    text-align:left;
    width:140px;
    font-weight:lighter;
}

.control-label {
    padding-right:0;
}

.study-qa {
margin-bottom:20px;
    
}



//Media Queries 

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
