#portal section{

	span.list-number {
		display: inline-block;
		width: 30px;
		font-weight: bold;
		position:absolute;
		left:0;
	}

	ul {
		position:relative;
		list-style-type: none;
		padding-left: 30px;

		li{

		}

		div+li{
			margin-top: 20px;
		}
	}

	

	.form-control{

		&.inline-form{
			display:inline-block;
			width:200px;
		}
	}
}

#portal .sectionType-outline,#portal .sectionType-assignment{
	&>ul>li{
		font-weight: 100;
		color: #2e7dbb;
		letter-spacing: 1px;
		line-height: 40px;
		font-size: 30px;

		&>span.list-number{
			font-weight: 100;
		}
	}
}