#helpModal .help-item{
    border-top: 1px solid #ffffff;
}

// Toggle Styles 

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background: $white-color;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
     border-right:1px solid $light-grey;
}


#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


// Note Modal

.modal-dialog {
	margin:100px auto;
}

// Notes Section

.filter  {
    color:#636363;
    font-size:14px;
    float: right;

}

.date {
  text-transform: uppercase;
  font-size:12px;
  color:#636363;
}

.all {
  color:#636363;
  float:left;
}

.all-notes {
  overflow: auto;
  height: 768px;
}

.all-notes a:active {
  background-color: #f4f6f6;
  display:block;

}

.sidebar-brand h2 {
  color:#fff;
  font-weight:lighter;
  float:left;
  margin:0;
}

.sidebar-brand a {
  float:right;
  font-size:14px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.sort {
top: 30px !important;
left: -92px;
}

.sidebar-brand {
	background-color:$dark-grey;
	color:$white-color;
	text-align:center;
	padding:15px;
	
}

.sidebar-brand a {
   float: right;
    font-size: 14px;
    display: inline-block;
    position: relative;
    top: 2px;
    
}

#view {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
  padding: 15px;
  width:100%;
  display:inline-block;
}

#note-wrap {
	padding:20px;
}

small {
	color:$dark-grey;
}


.note {
	border-bottom:1px solid $light-grey;
	padding:20px;
}

.note p {
    color:$grey-color;
}

.note h4 {
	margin-top:0;
	color:$blue-color;
	font-weight:lighter;
    font-size:22px;

}

.fa-plus-circle  {
	margin-left:8px;
	color:$light-grey;
}


// Sidebar 

.sidebar-nav {
    position: relative;
    top: 63px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:$base-font-family;
    border-right:1px solid $light-grey;

}

.sidebar-brand a:link, .sidebar-brand a:visited {
	color:$light-grey;
	text-decoration:none;
}

.sidebar-brand a:hover {
	color:$white-color;

}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;

}


//guide content
#portal{
  
}

$basePadding: 2rem;
$largerPadding: 2rem;
$borderRadius: 4px;
$medium: #333;

#helpModal{

  .modal-dialog{
    width: 480px;
  }

  .help-filters{
    position: relative;
    &::after{
      content: "\f002";
      position: absolute;
      right:1.5rem;
      top: 50%;
      transform: translateY(-50%);

      font-family: 'FontAwesome';
      font-size: 2rem;
      color: $light-grey;

    }
    .help-search{
      appearance:none;
      border:0;
      display:block;
      width:100%;
      padding: $largerPadding 2rem;
      margin-bottom: $basePadding;
      border-radius: $borderRadius;
      border:1px solid $light-grey;
      box-shadow:none;
    }
  }

  .help-item{

    &:first-child{
      border:0;
      .help-question{
        border-radius: $borderRadius $borderRadius 0 0;
      }
    }

    &:last-child{
      .help-question{
        border-radius: 0 0 $borderRadius $borderRadius;
      }
    }

    .help-question{
      display: block;
      position: relative;

      background-color: $dark-grey;
      padding: $largerPadding 2rem;
      color: white;
      font-weight: normal;


      &::after{
        content: '+';
        position: absolute;
        right:1.5rem;
        top:50%;
        transform: translateY(-50%);
        font-size: 2rem;
        margin-top: -3px;
      }

      &.open::after{
        content: '–';
      }
    }

    .help-answer{
      display:none;
      position: relative;
      padding:$largerPadding 2rem;
      background-color:$light-grey;


      // &::before{
      //   content:'';
      //   background-color: #DADBDB;
      //   position: absolute;
      //   left: 0;
      //   width: 20px;
      //   top:0;
      //   bottom:0;
      //   z-index:99999999999;
      // }
    }
  }
}




.dropdown-menu{
    top: 62px;
}



/* FLAGS AND PENNANTS */


.flag-table{
  img{
    max-width: 100px;
  }

  td, th{

    vertical-align:middle !important;

    &:nth-child(2n-1){
      border-right: 0;
    }

    &:nth-child(2n){
      border-left: 0;
    }
  }
}


/* SHIPBOARD MARKINGS */

.markings-example-box{
  width: 360px;
  min-height: 200px;
  border: 1px solid #000;
  text-align: center;
  padding: 30px 20px;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 30px;

  .markings-example{
    display:block;
    border: 2px dotted #ffa500;
    margin-bottom: 10px;
    border-radius: 6px;
  }
}

.tooltip.in{
  z-index:1;
}