/* List Styles */

.list { margin-bottom:20px;}

.list-2 {
	text-decoration:none;
	list-style-type:none;
}

.list-3 {
  margin-top:15px;
}

.minusPadding {
  padding-right:0;
  padding-left:0;
}

h5 {
	color:$accent-color;
}


/* Content Heading Styles */

.head-1 {
  color:$dark-grey;
  font-weight:normal;
  margin-top: 20px;
}

.head-2 {
  color:$blue-color;
  font-weight:normal;
}

.underline {
  text-decoration:underline;
  font-weight:normal;

}

#portal{
  h1{
    border-bottom: 1px solid $medium-grey;
    color: $medium-grey;
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 60px;

    &:first-child{
      margin-top: 0;
    }
  }
}

/* Alphabet Styles */

.alphabet h5 {
  margin:0;
  padding-bottom:20px;
}

.letters li {
    position: relative;
    top: 35px;
    left: 35px;
}

/* Pledge Paragraph Styles */

.section1 {
  
   border-bottom:1px solid $light-grey;
   margin-top: 30px;
   padding-bottom: 20px;
}

.section1 {

  p { 
  margin:15px 0 15px 0;
  }

  em {
    font-size:12px;
  }

  span {
    margin:20px 0;
    font-size:12px;
    color:$dark-grey;
    display: block;
  }

  h4 {
  	text-align:center;
  }
  
}

/* Forms */

.form-control{
  display: inline-block;
}

.inline-form{
  width: 175px;

  &.inline-form-large{
    width: 250px;
  }

  &.inline-form-small{
    width: 100px;
  }
}


